<h1>{{title}}</h1>
<h3>Welcome to {{message}}</h3>

<section id="overview">
    <h3>{{overview}}</h3>

    <img src="img/gamecube.jpg" width="900px" alt="gamecube and controller">
</section>

<section id="library">
    <h3>Library</h3>
    <p>{{library}}</p>
    <img src="img/library.png" alt="selection of gamecube games">
</section>

<section id="legacy">
    <h3>Legacy</h3>
    <p>{{legacy}}</p>
    <img src="img/legacy.jpg">
</section>
